body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #445161;
    font-size: 30px;

}
h2{
    color: #445161;
    font-size: 25px;
}
.text {
    color: #333333;
    line-height: 25px;
}
.boold {
    color: #333333;
    font-weight: 700;
}
.red {
    color: #ff0000;
}
.textalign{
    text-align: right;
}
.capitalize {
    text-transform:uppercase;
}
.italic {
    font-style: italic;
}
.unline {
    text-decoration: underline;
}
.textcenter{
    text-align: center;
}
.fonts{
    font-size: 30px;
    color: #445161
}
.undrline{
    text-decoration: line-through;
}
.info{
    text-shadow: 1px 1px 10px red;
}